{{-- 
    title    : alert title 
    message  : alert message  
--}} 

<div class="ui tiny modal">
    <div class="header">
        {{title}}
    </div>
    <div class="content">
        {{{ await $slots.main() }}}
    </div>
    <div class="actions">
        @if($slots.actions) 
            {{{ await $slots.actions() }}}
        @else
            <div class="ui positive button">OK</div>
            <div class="ui negative button">Cancel</div>
        @end

    </div>
</div>