{{-- 
    label       : field label
    name        : field name
    other props : other input attributes such as type, size, placeholder
--}}

<div class="field">
    @if(label)
        <label for="{{name}}">{{label}}</label> 
    @end
    @if(type=="submit") 
        <input name="{{name}}" class="ui button" {{ $props.except(['label']).toAttrs() }}>
    @else
        <input name="{{name}}" {{ $props.except(['label']).toAttrs() }}>
    @end
</div>