{{-- 
    label       : field label
    name        : field name
    other props : other textarea attributes such as row, cols, placeholder
--}}

<div class="field">
@if(label)
    <label for="{{name}}">{{label}}</label>    
@end
<textarea id="{{name}}" {{ $props.except(['label', 'value']).toAttrs() }}>
@if(value) 
{{ value }}
@end
</textarea>
</div>