<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel = "icon" href = /images/template/icon.png>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script
        src="https:/code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
    <style>
        @if($slots.style) 
            {{{ await $slots.style()}}}
        @end
    </style>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body class="h-screen flex flex-col">
    @if($slots.navbar)
        {{ await $slots.navbar() }}
    @else
        @include('partials/navbar')
    @end

    @flashMessage("message")
    <div class="absolute top-10  w-full">
        <div class="ui {{$message.type}} message left-1/2 -translate-x-1/2 text-center max-w-lg">
            <i class="close icon"></i>
            {{$message.message}}
        </div>
    </div>
    @end


    <div class="ui container mt-28" id="main">
        {{{ await $slots.main() }}}
    </div>

    @if($slots.footer)
        {{ await $slots.footer() }}
    @else
        @include('partials/footer')
    @end

    @if($slots.script) 
        {{{ await $slots.script() }}}
    @end

    <script>
        $('.ui.dropdown').dropdown();
        $('.message .close').on('click', function(){
            $(this).closest('.message').transition('fade');
        });
    </script>
</body>
</html>